<ul class="nav nav-fill mb-3">
  
    <img
      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/86cf185c-ad61-4faa-9c63-de77f6c62a3c/darinvh-ba3c3f94-64e4-49d3-9987-891d08a0a871.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODZjZjE4NWMtYWQ2MS00ZmFhLTljNjMtZGU3N2Y2YzYyYTNjXC9kYXJpbnZoLWJhM2MzZjk0LTY0ZTQtNDlkMy05OTg3LTg5MWQwOGEwYTg3MS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ._b6SIaMjJ7gvuePzNH3wJTCjNgBpSG6UiaEKb382_sc"
      alt="Twita logo"
      class="twita-logo"
    />
  
  <li class="nav-item">
    <a class="nav-link text-white badge badge-pill badge-primary" href="/"
      >Home</a
    >
  </li>

  <% if (userSession._id != 'voidUsername') { %>
  <li class="nav-item">
    <a
      class="nav-link text-white badge badge-pill badge-primary"
      href="/settings"
      >User Settings</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link badge text-white badge-pill badge-primary"
      href="http://localhost:3000/logout"
      >Log Out</a
    >
  </li>
  <% } %>
</ul>
