<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Log In to Twita</h1>
        </div>
        <div class="col-md-12">
          <form
            id="form-logIn"
            class="form-group m-auto"
            action="/login"
            method="POST"
          >
            <label for="username" class="">Username or Email</label>
            <input
              name="username"
              class="form-control"
              id="username"
              type="text"
            />

            <label for="password" class="">Password</label>
            <input
              name="password"
              class="form-control"
              id="password"
              type="password"
            />
            <div class="d-flex justify-content-center">
              <button class="btn btn-logIn btn-lg mt-2" type="submit">
                Log In
              </button>
            </div>
            <div class="text-center">
              <a class="link-logIn" href="http://localhost:3000/registro"
                >Regístrate en Twita</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
