<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

<body>
    <%- include("partials/navbar") %>
    <div class="container">
        <form class="form-group" action="/bio">
            <div>
                <label for="description">Cambiar descripción</label>
            </div>
            <textarea type="text" id="description" class="form-control" name="description"></textarea>
        </form>

        <form action="/modifyProfilePicture" class="form-group">
            <label for="profilePicture">Cambiar foto de perfil</label>
            <input type="file" class="form-control-file" id="profilePicture" name="profilePicture">
        </form>
    </div>
    <%- include("partials/scripts") %>
</body>

</html>