/* HOME NOT LOGGED */
.titleHome {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.btn-signUp {
  background-color: #1da1f2;
  color: white;
  margin-right: 0.5rem;
  border-radius: 70px;
}

.btn-signUp:hover {
  color: white;
  opacity: 80%;
}

.btn-logIn-home {
  color: #1da1f2;
  border-color: #1da1f2;
  margin-left: 0.5rem;
  border-radius: 60px;
}

.btn-logIn-home:hover {
  color: #1da1f2;
  background-color: white;
  opacity: 80%;
}

/* URL LOGIN */
#form-logIn {
  margin-top: 0.5rem;
  margin-left: 18rem;
  margin-right: 18rem;
  padding: 1rem;
}

.btn-logIn {
  background-color: #1da1f2;
  color: white;
  border-radius: 60px;
}

.btn-logIn:hover {
  background-color: #1a91da;
  color: white;
}
.link-logIn {
  color: #1da1f2;
}

.link-logIn:hover {
  color: #1da1f2;
}

/* URL SIGNUP */
#form-signUp {
  margin-top: 0.5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  padding: 1rem;
}

/* TWITS */

.twit-container {
  padding: 15px;
  background-color: antiquewhite;
  border-radius: 15px;
}
