/* NAVBAR */
.twita-logo {
  transform: scaleX(-1);
  width: 260px;
  margin-top: -100px;
}
.nav-item {
  padding-top: 60px;
}
.nav-link {
  font-size: 1.5rem;
}


/* HOME NOT LOGGED */
.titleHome {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.btn-signUp {
  background-color: #1da1f2;
  color: white;
  margin-right: 0.5rem;
  border-radius: 70px;
}

.btn-signUp:hover {
  color: white;
  opacity: 80%;
}

.btn-logIn-home {
  color: #1da1f2;
  border-color: #1da1f2;
  margin-left: 0.5rem;
  border-radius: 60px;
}

.btn-logIn-home:hover {
  color: #1da1f2;
  background-color: white;
  opacity: 80%;
}

/* URL LOGIN */
#form-logIn {
  max-width: 500px;
  padding: 1rem;
}

.btn-logIn {
  background-color: #1da1f2;
  color: white;
  border-radius: 60px;
}

.btn-logIn:hover {
  background-color: #1a91da;
  color: white;
}
.link-logIn {
  color: #1da1f2;
}

.link-logIn:hover {
  color: #1da1f2;
}

/* URL SIGNUP */
#form-signUp {
  max-width: 500px;
  padding: 1rem;
}

/* TWITS */

.twit-container {
  padding: 15px;
  background-color: antiquewhite;
  border-radius: 15px;
}
.avatar-profile {
    
    border: 2px solid rgb(177, 103, 103);
    object-fit: cover;
    position: relative;
    
}
.avatar-twit {
    width: 150px;
    object-fit: cover;
}

@media only screen and (max-width: 675px) {
  .nav-link {
    font-size: 1rem;
    margin-left: 160px;
  }
  .nav-item {
    padding-top: 30px;
  }
  .twita-logo {
    position: absolute;
    height: 150px;
    margin-top: -20px;
    width: auto;
  }
  .nav {
    display: inline-block;
  }
}